Run.v12.suo
Run.suo
packages
Run.CocosSharp.Shared/bin
Run.CocosSharp.Shared/obj
Run.CocosSharp.Win32/bin
Run.CocosSharp.Win32/obj
Run.CocosSharp.Win32/Debug
Run.SFML/bin
Run.SFML/obj
Run.SFML/Debug
Run.Shared/bin
Run.Shared/obj